body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(245, 241, 115); 
}

#title{
    font-family: altesse-std-24pt;
    font-size: 35px;
}

a:hover#darnell{
    background-color: yellow;
    color: #fff;
    text-decoration: none;
}

a:hover#riley{
    background-color: red;
    color: #fff;
    text-decoration: none;
}

.left{
    float: left;
    border: 0px red solid;
    min-width: 180px;
    height: 90vh;
    position: fixed;
    font-size: 70px;
    font-family: altesse-std-24pt;
}

.right{
    float: right;
    border: 0px red solid;
    width: 70vw;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: black;
}

.right-information{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    min-width: 403px;
}

.me-text, .reply-text{
    margin-top: 5%;
}

one-m-t-darnell{
    margin-top: -10%;
}

a:hover{
    background-color: red;
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: black;
}

a:hover#cullen{
    background-color: rgb(5, 58, 5);
    color: #fff;
    text-decoration: none;
}

a:hover#darnell{
    background-color: yellow;
    color: #fff;
    text-decoration: none;
}

.me-text, .reply-text{
    display: inline-block;
}

.subject{
    border: 0px solid green;
}

.me-text{
    border: 0px solid green;
}

.letter-icon{
    width: 100px;
    height: 100px;
    background-image: url('images/letter.png');
    background-repeat: no-repeat;
    background-size: contain;
    border: solid 0px green;
    display: inline-block;
}

.footnotes{
    font-size: 16px;
}

sup {
font-size: smaller;
}

.space{
    background-image: linear-gradient(rgb(5, 58, 5), rgb(0, 255, 0));
    filter: blur(50px);
    margin: 3% 0% 3% 0%;
    width: 100%;
}

#s-one, #s-three{
    height: 25vw;
}

#s-two, #s-five, #s-seven{
    height: 50vw;
}

#s-six, #s-four{ 
    height: 100vw;
}

#s-eight{
    height: 200vw;
}

#s-nine{
    height: 350vw;
}

#s-one{
    background-image: linear-gradient(rgb(194, 188, 9), rgb(255, 247, 0));
}

#s-two, #s-three{
    background-image: linear-gradient(rgb(58, 5, 5), rgb(255, 0, 0));
}

.reply-text{
    margin: 5% 0% 0% 0%;
}

.me-text, .me-message{
    border: 0px blue solid;
    font-family: arial;
}

#one-r-t-riley, #one-r-riley{
    border: 0px blue solid;
    font-family: span, serif;
    font-weight: 300;
    font-style: normal;
}

#one-m-t-darnell{
    margin-top: -10%;
}

#three-r-t-cullen, #two-r-t-cullen, #one-r-t-cullen, #one-r-cullen, #two-r-cullen, #three-r-cullen{
    font-family: 'Times New Roman', Times, serif;
}

@media screen and (max-width: 1000px){
    .left{
        position: relative;
        display: block;
        height: auto;
        margin-bottom: 5%;
    }

    .right{
        display: block;
        height: auto;
        float: left;
        margin-left: 18%;
    }

    }

    @media screen and (max-width: 600px){
        .right{
            margin-left: 3%;
        }
    
        }